.prof-body {
    background: linear-gradient(135deg, #c2d8f3, #f5c7c7, #fef3b7);
}

.resenha-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.estrelas {
    display: flex;
    gap: 5px;
    font-size: 28px;
    cursor: pointer;
}

.estrela {
    color: #555;
    transition: color 0.2s;
}

.estrela.ativa {
    color: gold;
}
